/*styles go here*/

/*p{
  color: red;
}*/


.container1 {
	display: flex;
	flex-direction: column;
}

@media (min-width: 600px) {
	.container1 {
		flex-direction: row;
		justify-content: center;
	}
}

img{
  border: none;
}

p{
  color: black;
  font-family: 'Merriweather Sans', helvetica, arial, sans-serif;
}

h1{
  /*font-family: Georgia, "times new roman", serif;*/
  font-family: 'Merriweather', Georgia, "times new roman", serif;
  color: green;
}

body{
  background-color: #ebe3c3;
  font-size: 1.35em;
	font-family: 'Merriweather Sans', sans-serif;
	color: #fff;
	padding-left: 5%;
	padding-right: 5%;
}

h1, p, ul {
  margin:auto;
}

/*#container {
  /*margin-top:0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: : auto*/

* {
	box-sizing: border-box;
}

.container1 {
	padding: 10px;
	background: #ffffff;
  border-radius: 5px;
	margin: 45px auto;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
  text-align: center;
}

.container2 {
	padding: 10px;
	background: #ffffff;
  border-radius: 5px;
	margin: 45px auto;
}

.container3 {
	padding: 10px;
	background: #ffffff;
  border-radius: 5px;
	margin: 45px auto;
  text-align: center;
}

.item {
	color: #000;
	padding: 15px;
	margin: 5px;
	background: #f1b82d;
	border-radius: 3px;
}

#caption {
  font-family: georgia, "times new roman", serif;
  font-style:italic;
  text-align:right;
}

#nav {
  padding: 0;
}

#nav li {
  list-style-type: none;
  }

#nav a:link {
  display:block;
  color: #ffffff;
  background-color: #98bf21;
  font-weight: bold;
  text-align: center;
  font-family: helvetica,arial,sans-serif;
  padding: 4px;
  text-decoration: none;
}

#nav a:hover, #nav a:active {
  background-color: #7a991a;
  text-decoration: underline;
}
