/*styles go here*/

/*p{
  color: red;
}*/

img{
  border: none;
}

p{
  color: black;
  font-family: 'Merriweather Sans', helvetica, arial, sans-serif;
}

h1{
  /*font-family: Georgia, "times new roman", serif;*/
  font-family: 'Merriweather', Georgia, "times new roman", serif;
  color: green;
}

body{
  background-color: #ebe3c3;
}

h1, p, ul {
  margin:auto;
}

#container {
  /*margin-top:0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: : auto*/
  width:90%;
  margin: 0 auto;
}

.caption {
  font-family: georgia, "times new roman", serif;
  font-style:italic;
  text-align:right;
}

#nav {
  padding: 0;
}

#nav li {
  list-style-type: none;
  }

#nav a:link {
  display:block;
  color: #ffffff;
  background-color: #98bf21;
  font-weight: bold;
  text-align: center;
  font-family: helvetica,arial,sans-serif;
  padding: 4px;
  text-decoration: none;
}

#nav a:hover, #nav a:active {
  background-color: #7a991a;
  text-decoration: underline;
}
